
#sitemapHost {
    font-size: 12px;
    color:#4a4a4a;
    height: 100%;
}

#sitemapHostBtn a {
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/HE0RPT/35/83/5c/35835ca7e1bd420b8859ca333b14afcd/plugins/sitemap/styles/images/sitemap_on.png?token=802cfcb9d64d7828ef23c4424f914a55');
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/HE0RPT/35/83/5c/35835ca7e1bd420b8859ca333b14afcd/plugins/sitemap/styles/images/sitemap_on.svg?token=271d7690dbe00fbe74fb48f82784dcfa'),linear-gradient(transparent, transparent);
}

.hashover #sitemapHostBtn a:hover {
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/HE0RPT/35/83/5c/35835ca7e1bd420b8859ca333b14afcd/plugins/sitemap/styles/images/sitemap_hover.png?token=5be8f9cac3588cf66c8b5089ac2f68c5');
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/HE0RPT/35/83/5c/35835ca7e1bd420b8859ca333b14afcd/plugins/sitemap/styles/images/sitemap_hover.svg?token=7f965ee21210c7dec004733b024a1492'),linear-gradient(transparent, transparent);
}

#sitemapHostBtn a.selected, #sitemapHostBtn a.selected:hover {
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/HE0RPT/35/83/5c/35835ca7e1bd420b8859ca333b14afcd/plugins/sitemap/styles/images/sitemap_off.png?token=c9fdbb82805adab8aaae931011825581');
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/HE0RPT/35/83/5c/35835ca7e1bd420b8859ca333b14afcd/plugins/sitemap/styles/images/sitemap_off.svg?token=bd53b703fbe7b998e59c323089ea9fa5'),linear-gradient(transparent, transparent);
}

#sitemapHost .pageButtonHeader {
    top: -27px;
}

#sitemapTreeContainer {
    overflow: auto;
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

.sitemapTree {
    margin: 0px 0px 10px 0px;
    overflow:visible;
}

.sitemapTree ul {
    list-style-type: none;
    margin: 0px 0px 0px 0px;
    padding-left: 0px;
}

.sitemapPlusMinusLink 
{
}

.sitemapMinus 
{
	vertical-align:middle;
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/HE0RPT/35/83/5c/35835ca7e1bd420b8859ca333b14afcd/plugins/sitemap/styles/images/minus.gif?token=2102bd6c8c88ada8d119e05f34d64b5b');
    background-repeat: no-repeat;
	margin-right: 3px;	
	margin-bottom: 1px;
    height:9px;
    width:9px;
    display:inline-block;
}

.sitemapPlus 
{
	vertical-align:middle;
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/HE0RPT/35/83/5c/35835ca7e1bd420b8859ca333b14afcd/plugins/sitemap/styles/images/plus.gif?token=b203636301f6460fb3d8a36827bd0870');
    background-repeat: no-repeat;
	margin-right: 3px;	
	margin-bottom: 1px;
	height:9px;
    width:9px;
    display:inline-block;
}

.sitemapPageLink 
{
    margin-left: 0px;
}

.sitemapPageIcon 
{
	margin: 0px 0px -3px 4px;
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/HE0RPT/35/83/5c/35835ca7e1bd420b8859ca333b14afcd/plugins/sitemap/styles/images/page.png?token=e62ff10fc65fe349ad2943179720f228') no-repeat center center;
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/HE0RPT/35/83/5c/35835ca7e1bd420b8859ca333b14afcd/plugins/sitemap/styles/images/page.svg?token=93000fcac0d1d1943cf2acea8f879af4') no-repeat center center, linear-gradient(transparent,transparent);
}

.sitemapFlowIcon
{
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/HE0RPT/35/83/5c/35835ca7e1bd420b8859ca333b14afcd/plugins/sitemap/styles/images/flow.png?token=4db3e1023404ede5bb2b842414bab104') no-repeat center center;
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/HE0RPT/35/83/5c/35835ca7e1bd420b8859ca333b14afcd/plugins/sitemap/styles/images/flow.svg?token=4bde4f3d24cdd75157eb6561c3ec6161') no-repeat center center, linear-gradient(transparent,transparent);
}

.sitemapFolderIcon
{
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/HE0RPT/35/83/5c/35835ca7e1bd420b8859ca333b14afcd/plugins/sitemap/styles/images/folder_closed.png?token=9853dc7ec15ffa031cb1f1a6eac16987') no-repeat center center;
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/HE0RPT/35/83/5c/35835ca7e1bd420b8859ca333b14afcd/plugins/sitemap/styles/images/folder_closed.svg?token=7d3f1aeabcc581d39ef92c58dec215d9') no-repeat center center, linear-gradient(transparent,transparent);
}

.sitemapFolderOpenIcon
{
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/HE0RPT/35/83/5c/35835ca7e1bd420b8859ca333b14afcd/plugins/sitemap/styles/images/folder_open.png?token=726785537de78bc6d783918cf27063fe') no-repeat center center;
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/HE0RPT/35/83/5c/35835ca7e1bd420b8859ca333b14afcd/plugins/sitemap/styles/images/folder_open.svg?token=dda429008c62dbfbf1e62ae253c07494') no-repeat center center, linear-gradient(transparent,transparent);
}

.sitemapPageName 
{
    margin-left: 7px;
}

.sitemapNode 
{
    /*margin:4px 0px 4px 0px;*/
    white-space:nowrap;
}

.sitemapPageLinkContainer {
    /*display: inline-block;*/
    margin-left: 0px;
    padding: 4px 0px 4px 0px;
}
/*
.sitemapNode div
{
	padding-top: 1px; 
	padding-bottom: 3px;
    padding-left: 20px;
	height: 14px;
}
*/

.sitemapExpandableNode 
{
	margin-left: 0px;
}

.sitemapHighlight 
{
    /*display: inline-block;*/
	background-color : #C8E0F0;
    font-weight: bold;
}

.sitemapGreyedName
{
	color: #AAA;
}


.pluginNameHeader
{
    font-family: 'Trebuchet MS';
	font-size: 12px;
    letter-spacing: 1px;
	/*font-weight: bold;*/
	white-space: nowrap;
    margin-bottom: 5px;
}

.pageNameHeader
{
    font-family: 'Trebuchet MS';
    /*display: inline-block;*/
    /*float: left;*/
	font-size: 15px;
	font-weight: bold;
	/*height: 23px;*/
    padding-right: 77px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pageButtonHeader
{
    float: right;
    position: relative;
    /*width: 72px;*/
	height: 24px;
    top: -22px;
    margin-bottom: -24px;
}

.sitemapHeader
{
    padding-top: 27px;
    border-bottom: 1px solid #d9d9d9;
    min-width: 110px;
}

.sitemapToolbar {
    margin: 0px 5px 14px 12px;
}

.sitemapToolbarButton
{
    float: left;
    width: 22px;
    height: 22px;
    border: 1px solid transparent;
}

#linksButton {
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/HE0RPT/35/83/5c/35835ca7e1bd420b8859ca333b14afcd/plugins/sitemap/styles/images/share.png?token=c9fdd61c97edc6dc34b9c342739400d4') no-repeat center center;
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/HE0RPT/35/83/5c/35835ca7e1bd420b8859ca333b14afcd/plugins/sitemap/styles/images/share.svg?token=0a2d62d04d85d062006655afd4719233') no-repeat center center, linear-gradient(transparent,transparent);
}

#linksButton:hover {
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/HE0RPT/35/83/5c/35835ca7e1bd420b8859ca333b14afcd/plugins/sitemap/styles/images/share_hover.png?token=3127207238c104b64f1a09ef0a74a207') no-repeat center center;
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/HE0RPT/35/83/5c/35835ca7e1bd420b8859ca333b14afcd/plugins/sitemap/styles/images/share_hover.svg?token=d25c6d57ada736a3ba23634e2a9410d2') no-repeat center center, linear-gradient(transparent,transparent);
}

#linksButton.sitemapToolbarButtonSelected, .hashover #linksButton.sitemapToolbarButtonSelected:hover {
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/HE0RPT/35/83/5c/35835ca7e1bd420b8859ca333b14afcd/plugins/sitemap/styles/images/share_on.png?token=cdd96e92b8867f90cd52be3d17d41363') no-repeat center center;
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/HE0RPT/35/83/5c/35835ca7e1bd420b8859ca333b14afcd/plugins/sitemap/styles/images/share_on.svg?token=0e5deba224cb695d32dc3dc72902133b') no-repeat center center, linear-gradient(transparent,transparent);
}

#adaptiveButton {
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/HE0RPT/35/83/5c/35835ca7e1bd420b8859ca333b14afcd/plugins/sitemap/styles/images/views.png?token=d7de4ac2dc57db7b686921ff52a7a6d0') no-repeat center center;
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/HE0RPT/35/83/5c/35835ca7e1bd420b8859ca333b14afcd/plugins/sitemap/styles/images/views.svg?token=0d423580b302f049f8d42326ef2965a7') no-repeat center center, linear-gradient(transparent,transparent);
}

#adaptiveButton:hover {
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/HE0RPT/35/83/5c/35835ca7e1bd420b8859ca333b14afcd/plugins/sitemap/styles/images/views_hover.png?token=ac85a2f0372863e5a726d5d9af43d117') no-repeat center center;
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/HE0RPT/35/83/5c/35835ca7e1bd420b8859ca333b14afcd/plugins/sitemap/styles/images/views_hover.svg?token=fd90ea9420504e9d796ee849d42f59d5') no-repeat center center, linear-gradient(transparent,transparent);
}

#adaptiveButton.sitemapToolbarButtonSelected, #adaptiveButton.sitemapToolbarButtonSelected:hover {
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/HE0RPT/35/83/5c/35835ca7e1bd420b8859ca333b14afcd/plugins/sitemap/styles/images/views_on.png?token=42b3db76d7dcf03ecbcf3fe4cab79b80') no-repeat center center;
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/HE0RPT/35/83/5c/35835ca7e1bd420b8859ca333b14afcd/plugins/sitemap/styles/images/views_on.svg?token=01fe3a3bda48437e1445c55abce64494') no-repeat center center, linear-gradient(transparent,transparent);
}

#highlightInteractiveButton {
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/HE0RPT/35/83/5c/35835ca7e1bd420b8859ca333b14afcd/plugins/sitemap/styles/images/hotspots.png?token=28e4ac0da4d9ece06288b7bf3934f416') no-repeat center center;
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/HE0RPT/35/83/5c/35835ca7e1bd420b8859ca333b14afcd/plugins/sitemap/styles/images/hotspots.svg?token=29ea9d0159847bbe55071e8f08f45197') no-repeat center center, linear-gradient(transparent,transparent);
    margin-top: 1px;
}

#highlightInteractiveButton:hover {
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/HE0RPT/35/83/5c/35835ca7e1bd420b8859ca333b14afcd/plugins/sitemap/styles/images/hotspots_hover.png?token=bfda58b63d12e3e1d606a1f084114c57') no-repeat center center;
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/HE0RPT/35/83/5c/35835ca7e1bd420b8859ca333b14afcd/plugins/sitemap/styles/images/hotspots_hover.svg?token=df4a6f05437c2af2f3144aa64b05f765') no-repeat center center, linear-gradient(transparent,transparent);
}

#highlightInteractiveButton.sitemapToolbarButtonSelected, #highlightInteractiveButton.sitemapToolbarButtonSelected:hover {
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/HE0RPT/35/83/5c/35835ca7e1bd420b8859ca333b14afcd/plugins/sitemap/styles/images/hotspots_on.png?token=be708f43700ecc262d5a0b9833a4fc0a') no-repeat center center;
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/HE0RPT/35/83/5c/35835ca7e1bd420b8859ca333b14afcd/plugins/sitemap/styles/images/hotspots_on.svg?token=c4ce8cfe8d8cc5cc9194b0c7112fb529') no-repeat center center, linear-gradient(transparent,transparent);
}

/*#variablesButton {
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/HE0RPT/35/83/5c/35835ca7e1bd420b8859ca333b14afcd/plugins/sitemap/styles/images/229_variables_16.png?token=945a5b1e2a75d1b4baf3ced9a9652abe') no-repeat center center;
}*/

#searchButton {
    background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/HE0RPT/35/83/5c/35835ca7e1bd420b8859ca333b14afcd/plugins/sitemap/styles/images/232_search_16.png?token=c5228604706353a00d1705b567892627') no-repeat center center;
}

.sitemapLinkContainer
{
	margin-top: 8px;
	padding-right: 5px;
	/*font-size: 12px;*/
}

.sitemapLinkField 
{
	width: 100%;
	font-size: 12px;
	margin-top: 3px;
    padding: 5px;
}

.sitemapRadioSelected {
    font-weight: bold;
}

.sitemapOptionContainer
{
	margin-top: 8px;
	padding-right: 5px;
	/*font-size: 12px;*/
}

#sitemapOptionsDiv
{
	margin-top: 10px;
	/*margin-left: 16px;*/
}

#viewSelectDiv
{
    padding: 2px 0px 0px 0px;
	/*margin-left: 5px;*/
}

#viewSelect
{
	width: 70%;
}

.sitemapUrlOption
{
	padding-bottom: 8px;
}

.optionLabel
{
	font-size: 12px;
}

.sitemapPopupContainer
{
    display: none;
    position: absolute;
	background-color: #F4F4F4;
	border: 1px solid #B9B9B9;
	padding: 5px 5px 5px 5px;
	margin: 5px 0px 0px 5px;
    z-index: 1;
}

#sitemapLinksContainer {
    border-top: 1px solid #d9d9d9;
    padding: 10px;
    margin-left: 0px;
    /*line-height: 18px;*/
}

#adaptiveViewsContainer {
    border-top: 1px solid #d9d9d9;
    padding: 10px;
    margin-left: 0px;
    line-height: 18px;
}

.adaptiveViewOption
{
	padding: 2px;
}

.adaptiveViewOption:hover
{ 
	background-color: rgb(204,235,248);
	cursor: pointer;
}

.currentAdaptiveView {
    font-weight: bold;
}

.adaptiveCheckboxDiv {
	height: 15px;
	width: 15px;
	float: left;
}

.checkedAdaptive {
	background: url('https://d2i72ju5buk5xz.cloudfront.net/gsc/HE0RPT/35/83/5c/35835ca7e1bd420b8859ca333b14afcd/plugins/sitemap/styles/images/adaptivecheck.png?token=8539f1de16d0410331747f95987bf6cb') no-repeat center center;
}

/*#variablesContainer 
{
	max-height: 350px;
	overflow: auto;
}*/

/*#variablesClearLink 
{
	color: #069;
	left: 5px;
}*/

#searchDiv {
    padding: 8px 12px 11px 12px;
}

#searchBox {
    width: 100%;
    border: none;
    border-top: 1px solid #d9d9d9;
    /*border-bottom: 1px solid #d9d9d9;*/
    padding: 5px;
    font-size: 12px;
}

.searchBoxHint 
{
	color: #8f949a;
	/*font-style: italic;*/
}

#sitemapLinksPageName
{
	font-weight: bold;
}

#sitemapOptionsHeader
{
	font-weight: bold;
}